* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: bisque;
}
.main-contnair {
  background-color: rgb(228, 216, 200);
  width: 50%;

  margin: auto;
}

.file {
  background-color: rgb(133, 232, 199);
  margin: 5px;
  height: 250px;
  width: 250px;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-size: 40px;
}

.file-1 {
  background-image: url(./picture/font1.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.file-2 {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: rgb(104, 56, 148);
  font-family: times;
}
.file-3 {
  background-image: url(./picture/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: rgb(104, 56, 148);
  font-family: times;
}
.file-4 {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-image: url(./picture/font8.jpg);
  background-color: aqua;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.file-5 {
  background-image: url(./picture/font2.jpg);
  background-size: cover;
  color: white;
}
.file-6 {
  background-image: url(./picture/doremon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: aquamarine;
  font-family: times;
}
.file-7 {
  background-image: url(./picture/font3.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.file-8 {
  background-color: brown;
  font-family: times;
  color: white;
}
.file-9 {
  background-image: url(./picture/font7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: times;
}
.file-10 {
  background-color: rgb(25, 157, 157);
  font-family: times;
  color: white;
}
.file-11 {
  background-image: url(./picture/font6.jpg);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  font-family: times;
}
.file-12 {
  background-image: url(./picture/font4.jpg);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}
.file-13 {
  background-image: url(./picture/font8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: times;
}
.file-14 {
  background-image: url(./picture/font10.jpg);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
}
.file-15 {
  background-image: url(./picture/font5.jpg);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  font-family: times;
}
.file-16 {
  color: white;
  background-image: url(./picture/font\ 5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.file-17 {
  color: white;
  background-image: url(./picture/font\ 11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.file-18 {
  color: white;
  background-image: url(./picture/download\ 4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
